
= render 'new_order'

.widget-container
  %h4.breadcrumb= t(".my_orders", :count => @trade_orders.active.count)
  = render :partial => "my_orders", :locals => { :trade_orders => @trade_orders.active }

= render 'book'