%p
  You have received this message because, you or someone else used the password recovery tool for your account in the Customers HelpDesk system. If you have forgotten the password to your account and would like to reset it, please click on the link below.
%p
  = link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  If you didn't request for this, please ignore this email.
%p
  Your password won't change until you access the link above and create a new one.