%h3 What are Bitcoins?
%p To put it simply, Bitcoins are safe and secure. They are a cryptographic digital currency. They are generated at a controlled rate using a computer program. This means they will not become unstable. Bitcoins are open-source, which means nobody owns them and that Bitcoins are decentralized. There are no banks or institutions of any sort involved in the exchange of Bitcoins. This makes the cost much lower for the buyer and seller. There is no fine print or limits to transactions when you use Bitcoins because they are not regulated through a bank.
%h3 How can I buy Bitcoins?
%p You can purchase Bitcoins in one of two ways. Through an exchange platform, or directly through other people who have Bitcoins for sale. Both methods require the use of a traditional currency, like the US dollar. There are a number of websites that are dedicated to finding Bitcoin users such as this one. On this site you look for people who have bitcoins for sale and work out a time and place to make the trade happen!
%h3 Are Bitcoins something new? Why haven’t I heard of them before?
%p Bitcoins are not completely new. They have been featured in the news.
NEWS STORIES HERE