.control-group
  = f.label :currency, :class => "control-label"
  .controls
    .styled-select
      = f.select :currency, [["USD", "USD"], ["EUR", "EUR"]], :class => "span2"
.control-group
  = f.label :email, 'Email/WalletID', :class => "control-label"
  .controls
    = f.text_field :email