/**
 *= require_self
 *= require normalize-css/normalize
 *= require bootstrap-sass/bootstrap-2.3.2.min
 *= require jqplot
 *= require jquery.fancybox
 *= require active_scaffold
 */

@import "bourbon";



body {
  padding-top: 7px;
}

.widget-container {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
