- if model.errors.any?
  .alert.alert-error
    %strong
      - if translated_message
        = translated_message
      - else
        = t message, :count => model.errors.count
    %ul
      - model.errors.full_messages.each do |msg|
        %li= msg